@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h3 {
    text-align: right;
    font-weight: 800;
    font-size: 24px;
    font-family: "Roboto Mono", monospace;
}
span {
    text-align: right;
}
#button {
    padding: 18px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 48px;
    background-color: Transparent;
}
.center {
    margin-bottom: 1em;
    padding: 1em;
}
